In [1]:
# Dependencies as needed
import gmaps
import matplotlib.pyplot as plt
from citipy import citipy
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np
import requests
from census import Census
import gmaps 
import time
from us import states
import json

In [2]:
combined_data = pd.read_csv("Census_Zillow_Combined_CA.csv")
combined_data.head()

,Zipcode,City,State,CountyName,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,average rent,Median Home Value,Number of House Build in year,Avg_HomeValue
0,90001,Florence-Graham,CA,Los Angeles,57942.0,28.0,34323.0,11294.0,18902.0,32.622277,915.0,272200.0,1950.0,2.999500e+05
1,90002,Los Angeles,CA,Los Angeles,51826.0,27.5,32520.0,11212.0,18302.0,35.314321,902.0,248200.0,1951.0,2.946667e+05
2,90003,Los Angeles,CA,Los Angeles,70208.0,28.0,31878.0,10611.0,24556.0,34.976071,958.0,268500.0,1951.0,3.002417e+05
3,90004,Los Angeles,CA,Los Angeles,63095.0,35.5,43180.0,29194.0,12919.0,20.475473,1044.0,838000.0,1946.0,1.168492e+06
4,90005,Los Angeles,CA,Los Angeles,39338.0,33.9,31485.0,20265.0,11520.0,29.284661,943.0,672600.0,1947.0,7.051917e+05

In [3]:
api_key = "288538c4c4aa958caf000f4ac70ef2f0"
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + api_key + "&q="

combined_data["Latitude"] = ""
combined_data["Longitude"] = ""

for index, row in combined_data.iterrows():
    city = row["City"]+",us"
    response = requests.get(url + city).json()
    
    try:
        combined_data.loc[index, "Latitude"] = response["coord"]["lat"]
        combined_data.loc[index, "Longitude"] = response["coord"]["lon"]     
    except:
        pass
    
combined_data.head()

KeyboardInterrupt:

In [11]:
# limited the lat and lng within California  "min_lat": 32.5121,"max_lat": 42.0126,"min_lng": -124.6509,"max_lng": -114.1315
combined_data = combined_data[combined_data["Latitude"] != ""]
combined_data = combined_data[combined_data["Latitude"] >= 32.5121]
combined_data = combined_data[combined_data["Longitude"] <= -114.1315]
combined_data = combined_data[combined_data["Longitude"] >= -124.6509]
combined_data.count()

Zipcode                          1072
City                             1072
State                            1072
CountyName                       1072
Population                       1072
Median Age                       1072
Household Income                 1072
Per Capita Income                1072
Poverty Count                    1072
Poverty Rate                     1072
average rent                     1072
Median Home Value                1072
Number of House Build in year    1072
Avg_HomeValue                    1072
Latitude                         1072
Longitude                        1072
dtype: int64

In [12]:
combined_data_df = combined_data.groupby("City")
#560 unique cities in CA
len(combined_data_df)

559

In [13]:
nom=Nominatim(user_agent = "my-application")

In [14]:
# Example format
nom.geocode("San Francisco,CA 94114")
# Outputs city abbreviation, state, zipcode, country, (lat,long,geocode response)

Location(SF, California, 94114, United States of America, (37.7614032, -122.435242, 0.0))

In [15]:
df = combined_data[["Zipcode","City","Latitude","Longitude"]]
unique_cities = df["City"].unique()
temp_lat = []
temp_long = []

for city in unique_cities:
    temp_lat.append(df[df["City"] == city].Latitude)
    temp_long.append(df[df["City"] == city].Longitude)


# Check    
#print(len(cities_only))
#print(len(temp_lat))
#print(len(temp_long))


# Work around for groupby not working?
condensed_dict = {"City" : unique_cities,
                  "Latitude" : temp_lat,
                  "Longitude" : temp_long
                 }
condensed_df = pd.DataFrame(condensed_dict)
condensed_df.head()

,City,Latitude,Longitude
0,Florence-Graham,"0 33.97 Name: Latitude, dtype: object","0 -118.25 Name: Longitude, dtype: object"
1,Los Angeles,1 34.05 2 34.05 3 34.05 4 ...,1 -118.24 2 -118.24 3 -118.24 4 ...
2,East Los Angeles,"18 34.02 50 34.02 Name: Latitude, dtype:...","18 -118.17 50 -118.17 Name: Longitude, dty..."
3,Ladera Heights,"45 33.99 Name: Latitude, dtype: object","45 -118.38 Name: Longitude, dtype: object"
4,West Hollywood,"56 34.09 Name: Latitude, dtype: object","56 -118.36 Name: Longitude, dtype: object"

In [10]:
# Get zip code for the states to setup geopy address
zipcodes = []
running = True

for city in combined_data["City"]:   
    if running:
        zipcodes.append(combined_data[combined_data["City"] == city].Zipcode)
        running = False
    else:
        running = True
len(zipcodes)

536

In [14]:
condensed_df["Address"] = condensed_df["City"] + ", CA "

In [17]:
#????????????
condensed_df

,City,Latitude,Longitude
0,Florence-Graham,"0 33.97 Name: Latitude, dtype: object","0 -118.25 Name: Longitude, dtype: object"
1,Los Angeles,1 34.05 2 34.05 3 34.05 4 ...,1 -118.24 2 -118.24 3 -118.24 4 ...
2,East Los Angeles,"18 34.02 50 34.02 Name: Latitude, dtype:...","18 -118.17 50 -118.17 Name: Longitude, dty..."
3,Ladera Heights,"45 33.99 Name: Latitude, dtype: object","45 -118.38 Name: Longitude, dtype: object"
4,West Hollywood,"56 34.09 Name: Latitude, dtype: object","56 -118.36 Name: Longitude, dtype: object"
5,Bell,"59 33.98 Name: Latitude, dtype: object","59 -118.19 Name: Longitude, dtype: object"
6,Beverly Hills,60 34.07 61 34.07 62 34.07 Name: Lati...,60 -118.4 61 -118.4 62 -118.4 Name: Long...
7,Compton,63 33.89 64 33.89 65 33.89 Name: Lati...,63 -118.23 64 -118.23 65 -118.23 Name: L...
8,Culver City,"66 34.02 67 34.02 Name: Latitude, dtype:...","66 -118.4 67 -118.4 Name: Longitude, dtype..."
9,Downey,68 33.94 69 33.94 70 33.94 Name: Lati...,68 -118.13 69 -118.13 70 -118.13 Name: L...
10,El Segundo,"71 33.91 Name: Latitude, dtype: object","71 -118.38 Name: Longitude, dtype: object"
11,Gardena,"72 33.89 74 33.89 Name: Latitude, dtype:...","72 -118.31 74 -118.31 Name: Longitude, dty..."
12,Hawthorne,"75 33.91 Name: Latitude, dtype: object","75 -118.35 Name: Longitude, dtype: object"
13,Hermosa Beach,"76 33.86 Name: Latitude, dtype: object","76 -118.4 Name: Longitude, dtype: object"
14,Huntington Park,"77 33.98 Name: Latitude, dtype: object","77 -118.23 Name: Longitude, dtype: object"
15,Lawndale,"78 33.89 Name: Latitude, dtype: object","78 -118.35 Name: Longitude, dtype: object"
16,Lynwood,"79 33.93 Name: Latitude, dtype: object","79 -118.21 Name: Longitude, dtype: object"
17,Manhattan Beach,"81 33.9 Name: Latitude, dtype: object","81 -118.4 Name: Longitude, dtype: object"
18,Palos Verdes Estates,"84 33.79 Name: Latitude, dtype: object","84 -118.4 Name: Longitude, dtype: object"
19,Rancho Palos Verdes,"85 33.75 Name: Latitude, dtype: object","85 -118.37 Name: Longitude, dtype: object"
20,Redondo Beach,"86 33.85 87 33.85 Name: Latitude, dtype:...","86 -118.39 87 -118.39 Name: Longitude, dty..."
21,South Gate,"88 33.95 Name: Latitude, dtype: object","88 -118.2 Name: Longitude, dtype: object"
22,Topanga,"89 34.09 Name: Latitude, dtype: object","89 -118.6 Name: Longitude, dtype: object"
23,Inglewood,93 33.96 94 33.96 95 33.96 96 33.9...,93 -118.36 94 -118.36 95 -118.36 96 -1...
24,Santa Monica,98 34.02 99 34.02 100 34.02 101 ...,98 -118.49 99 -118.49 100 -118.49 101 ...
25,Torrance,102 33.84 104 33.84 105 33.84 106 ...,102 -118.34 104 -118.34 105 -118.34 106 ...
26,West Carson,"103 33.82 Name: Latitude, dtype: object","103 -118.29 Name: Longitude, dtype: object"
27,Whittier,107 33.97 108 33.97 109 33.97 Name: L...,107 -118.03 108 -118.03 109 -118.03 Name...
28,South Whittier,"110 33.94 111 33.94 Name: Latitude, dtyp...","110 -118.03 111 -118.03 Name: Longitude, d..."
29,West Whittier-Los Nietos,"112 33.98 Name: Latitude, dtype: object","112 -118.07 Name: Longitude, dtype: object"
...,...,...,...
529,Magalia,"1189 39.81 Name: Latitude, dtype: object","1189 -121.58 Name: Longitude, dtype: object"
530,Nevada City,"1190 39.26 Name: Latitude, dtype: object","1190 -121.02 Name: Longitude, dtype: object"
531,Olivehurst,"1191 39.1 Name: Latitude, dtype: object","1191 -121.55 Name: Longitude, dtype: object"
532,Oroville,"1193 39.51 1194 39.51 Name: Latitude, dt...","1193 -121.56 1194 -121.56 Name: Longitude,..."
533,Paradise,"1195 39.76 Name: Latitude, dtype: object","1195 -121.62 Name: Longitude, dtype: object"
534,Rough and Ready,"1198 39.23 Name: Latitude, dtype: object","1198 -121.14 Name: Longitude, dtype: object"
535,Smartsville,"1199 39.21 Name: Latitude, dtype: object","1199 -121.3 Name: Longitude, dtype: object"
536,Sutter,"1200 39.16 Name: Latitude, dtype: object","1200 -121.75 Name: Longitude, dtype: object"
537,Willows,"1201 39.52 Name: Latitude, dtype: object","1201 -122.19 Name: Longitude, dtype: object"
538,Yuba City,"1202 39.14 1203 39.14 Name: Latitude, dt...","1202 -121.62 1203 -121.62 Name: Longitude,..."
539,Redding,1204 40.59 1205 40.59 1206 40.59 Name...,1204 -122.39 1205 -122.39 1206 -122.39 N...
540,Burney,"1208 40.88 Name: Latitude, dtype: object","1208 -121.66 Name: Longitude, dtype: object"
541,Shasta Lake,"1209 40.68 Name: Latitude, dtype: object","1209 -122.36 Name: Longitude, dtype: object"
542,Dunsmuir,"1211 41.21 Name: Latitude, dtype: object","1211 -122.27 Name: Longitude, dtype: object"
543,Fort Jones,"1213 38.26 Name: Latitude, dtype: object","1213 -120.42 Name: Longitude, dtype: object"
544,McCloud,"1214 41.26 Name: Latitude, dtype: object","1214 -122.14 Name: Longitude, dtype: object"
545,Mount Shasta,"1216 41.31 Name: Latitude, dtype: object","1216 -122.31 Name: Longitude, dtype: object"
546,Palo Cedro,"1217 40.56 Name: Latitude, dtype: object","1217 -122.24 Name: Longitude, dtype: object"
547,Shingletown,"1218 40.49 Name: Latitude, dtype: object","1218 -121.89 Name: Longitude, dtype: object"
548,Weed,"1219 41.42 Name: Latitude, dtype: object","1219 -122.39 Name: Longitude, dtype: object"
549,Yreka,"1220 41.73 Name: Latitude, dtype: object","1220 -122.64 Name: Longitude, dtype: object"
550,Portola,"1222 39.81 Name: Latitude, dtype: object","1222 -120.47 Name: Longitude, dtype: object"
551,Susanville,"1223 40.42 Name: Latitude, dtype: object","1223 -120.65 Name: Longitude, dtype: object"
552,Tulelake,"1224 41.96 Name: Latitude, dtype: object","1224 -121.48 Name: Longitude, dtype: object"
553,Carnelian Bay,"1226 39.23 Name: Latitude, dtype: object","1226 -120.08 Name: Longitude, dtype: object"
554,Tahoma,"1228 39.07 Name: Latitude, dtype: object","1228 -120.13 Name: Longitude, dtype: object"
555,Kings Beach,"1229 39.24 Name: Latitude, dtype: object","1229 -120.02 Name: Longitude, dtype: object"
556,Tahoe City,"1230 39.17 1231 39.17 Name: Latitude, dt...","1230 -120.14 1231 -120.14 Name: Longitude,..."
557,Tahoe Vista,"1232 39.24 Name: Latitude, dtype: object","1232 -120.05 Name: Longitude, dtype: object"
558,South Lake Tahoe,"1233 38.93 Name: Latitude, dtype: object","1233 -119.98 Name: Longitude, dtype: object"

In [33]:
# unique combinations of latitudes and longitudes

combined_data_lat = combined_data.Latitude
combined_data_long = combined_data.Longitude

coords = [(x,y) for (x,y) in zip(combined_data_lat, combined_data_long)]
unique_coords = []
for coord in coords:
    if coord not in unique_coords:
        unique_coords.append(coord)
    else:
        pass
unique_coords
# len(unique_coords) outputs 559

[(33.97, -118.25),
 (34.05, -118.24),
 (34.02, -118.17),
 (33.99, -118.38),
 (34.09, -118.36),
 (33.98, -118.19),
 (34.07, -118.4),
 (33.89, -118.23),
 (34.02, -118.4),
 (33.94, -118.13),
 (33.91, -118.38),
 (33.89, -118.31),
 (33.91, -118.35),
 (33.86, -118.4),
 (33.98, -118.23),
 (33.89, -118.35),
 (33.93, -118.21),
 (33.9, -118.4),
 (33.79, -118.4),
 (33.75, -118.37),
 (33.85, -118.39),
 (33.95, -118.2),
 (34.09, -118.6),
 (33.96, -118.36),
 (34.02, -118.49),
 (33.84, -118.34),
 (33.82, -118.29),
 (33.97, -118.03),
 (33.94, -118.03),
 (33.98, -118.07),
 (33.87, -118),
 (33.85, -118.05),
 (33.93, -117.94),
 (33.91, -118.01),
 (34.02, -118.11),
 (33.91, -118.08),
 (33.98, -118.1),
 (33.95, -118.07),
 (33.86, -118.05),
 (33.88, -118.12),
 (33.85, -118.12),
 (33.83, -118.07),
 (33.8, -118.32),
 (33.8, -118.08),
 (33.9, -118.17),
 (33.74, -118.11),
 (33.83, -118.25),
 (33.8, -118.17),
 (34.19, -118.14),
 (34.14, -118.04),
 (34.15, -117.97),
 (34.14, -117.98),
 (34.2, -118.19),
 (34.15, -118),
 (34.23, -118.24),
 (34.16, -118.05),
 (34.11, -118.15),
 (34.15, -118.14),
 (34.12, -118.11),
 (34.14, -118.25),
 (34.14, -118.77),
 (34.14, -118.64),
 (34.17, -118.84),
 (34.39, -118.54),
 (34.28, -118.44),
 (34.15, -118.81),
 (34.49, -118.62),
 (34.18, -118.33),
 (34.1, -117.58),
 (34.13, -117.91),
 (34.09, -117.96),
 (34.01, -117.69),
 (33.99, -117.76),
 (34.1, -117.72),
 (34.09, -117.89),
 (34.08, -118.04),
 (34.05, -118.05),
 (34.14, -117.87),
 (34.02, -117.95),
 (33.99, -117.97),
 (34.05, -117.97),
 (33.98, -117.91),
 (34.1, -117.77),
 (33.98, -117.56),
 (34.05, -118.13),
 (34.07, -117.65),
 (34.08, -117.69),
 (34.03, -117.81),
 (34.06, -117.75),
 (34.07, -118.09),
 (34.11, -117.81),
 (34.1, -118.11),
 (34.11, -118.06),
 (34.1, -117.65),
 (34.02, -117.87),
 (34.07, -117.94),
 (34.09, -118.13),
 (45.42, -122.76),
 (32.61, -116.47),
 (32.64, -117.08),
 (32.85, -116.62),
 (32.58, -117.11),
 (32.72, -116.88),
 (32.77, -117.02),
 (32.74, -117.03),
 (32.68, -117.1),
 (33.29, -117.23),
 (33.26, -116.38),
 (33.04, -117.29),
 (33.16, -117.35),
 (32.96, -117.27),
 (32.79, -116.96),
 (33.12, -117.08),
 (33.38, -117.25),
 (33.08, -116.6),
 (32.72, -117.16),
 (33.2, -117.38),
 (33.3, -116.98),
 (32.96, -117.04),
 (33.04, -116.87),
 (33.14, -117.17),
 (32.84, -116.97),
 (32.99, -117.27),
 (33.2, -117.24),
 (33.72, -116.22),
 (33.72, -116.34),
 (33.73, -116.38),
 (33.93, -116.88),
 (33.61, -114.59),
 (32.98, -115.53),
 (32.68, -115.5),
 (33.78, -116.46),
 (33.68, -116.18),
 (33.96, -116.5),
 (32.79, -115.56),
 (32.73, -115.53),
 (32.85, -115.57),
 (34.13, -116.32),
 (33.68, -116.3),
 (33.82, -116.54),
 (33.76, -116.42),
 (33.82, -116.39),
 (34.14, -116.05),
 (34.12, -116.41),
 (34.58, -117.41),
 (34.5, -117.19),
 (34.03, -117.31),
 (34.26, -116.85),
 (34.24, -116.91),
 (34, -117.06),
 (34.07, -117.31),
 (34.27, -116.94),
 (34.09, -117.44),
 (34.09, -116.92),
 (34.24, -117.08),
 (34.74, -117.32),
 (34.43, -117.3),
 (34.13, -117.21),
 (34.25, -117.19),
 (34.05, -117.26),
 (34.44, -116.95),
 (34.07, -117.13),
 (34.43, -117.57),
 (34.06, -117.19),
 (34.11, -117.37),
 (34.21, -117.11),
 (34.54, -117.29),
 (34.36, -117.63),
 (34.03, -117.04),
 (34.11, -117.29),
 (33.95, -117.4),
 (33.67, -117.33),
 (33.75, -116.97),
 (33.74, -116.72),
 (33.94, -117.23),
 (33.7, -116.73),
 (33.56, -117.21),
 (33.8, -117.15),
 (33.78, -117.23),
 (33.78, -116.96),
 (33.69, -117.18),
 (33.68, -117.26),
 (33.49, -117.15),
 (33.59, -117.24),
 (43.28, -123.35),
 (33.69, -117.83),
 (33.43, -117.61),
 (33.62, -117.93),
 (33.66, -117.9),
 (33.47, -117.7),
 (33.61, -117.72),
 (33.68, -118),
 (33.54, -117.78),
 (33.59, -117.69),
 (33.76, -117.99),
 (33.58, -117.73),
 (33.5, -117.66),
 (33.75, -117.64),
 (33.52, -117.71),
 (33.6, -117.59),
 (33.64, -117.6),
 (33.6, -117.66),
 (33.55, -117.64),
 (33.75, -117.87),
 (33.76, -117.79),
 (33.7, -117.96),
 (33.75, -117.83),
 (33.83, -117.91),
 (33.92, -117.89),
 (33.87, -117.93),
 (33.77, -117.95),
 (33.93, -117.55),
 (33.81, -117.82),
 (33.79, -117.85),
 (33.87, -117.86),
 (33.88, -117.57),
 (33.89, -117.83),
 (34.28, -119.29),
 (34.22, -119.04),
 (34.4, -119.52),
 (34.29, -118.88),
 (34.4, -119.3),
 (34.45, -119.24),
 (34.2, -119.18),
 (34.15, -119.2),
 (34.35, -119.06),
 (34.27, -118.78),
 (34.26, -119),
 (34.42, -119.7),
 (34.44, -119.63),
 (34.44, -119.83),
 (36.32, -119.71),
 (35.21, -118.83),
 (36.14, -120.36),
 (36.1, -119.56),
 (35.77, -119.25),
 (35.88, -119.27),
 (36.3, -119.14),
 (34.85, -119.16),
 (36.3, -119.21),
 (34.82, -118.94),
 (36.33, -119.65),
 (35.61, -118.48),
 (36.43, -119.69),
 (36.3, -119.78),
 (36.2, -119.09),
 (36.07, -119.02),
 (35.5, -119.27),
 (36.15, -119.06),
 (35.96, -119.04),
 (36.21, -119.35),
 (36.33, -119.29),
 (35.59, -119.34),
 (35.71, -118.46),
 (36.41, -119.1),
 (35.37, -119.02),
 (35.42, -119.02),
 (35.28, -120.66),
 (35.31, -120.83),
 (35.12, -120.59),
 (35.49, -120.67),
 (35.18, -120.73),
 (34.61, -120.19),
 (35.56, -121.08),
 (35.44, -120.89),
 (35.12, -120.62),
 (34.64, -120.46),
 (35.37, -120.85),
 (35.04, -120.48),
 (35.1, -120.61),
 (35.63, -120.69),
 (35.14, -120.64),
 (35.75, -120.7),
 (34.95, -120.44),
 (34.61, -120.08),
 (34.6, -120.14),
 (35.13, -117.99),
 (37.16, -118.29),
 (37.37, -118.39),
 (34.68, -118.45),
 (34.52, -117.98),
 (47.22, -117.15),
 (37.64, -118.97),
 (34.58, -118.12),
 (34.51, -117.91),
 (35.62, -117.67),
 (34.86, -118.16),
 (35.13, -118.45),
 (37.37, -119.73),
 (37.08, -119.49),
 (37.32, -119.57),
 (36.54, -119.83),
 (37.12, -120.26),
 (36.83, -119.7),
 (37.26, -119.7),
 (36.52, -119.29),
 (36.54, -119.39),
 (36.86, -120.46),
 (36.99, -119.71),
 (36.72, -120.06),
 (36.51, -119.55),
 (37.06, -120.85),
 (36.96, -120.06),
 (36.75, -120.38),
 (37.23, -119.51),
 (36.62, -119.31),
 (36.54, -119.29),
 (36.61, -119.53),
 (37.04, -119.51),
 (36.6, -119.45),
 (36.71, -119.56),
 (36.61, -120.19),
 (36.57, -119.61),
 (37.11, -119.32),
 (37.02, -119.4),
 (36.74, -119.25),
 (36.74, -119.78),
 (36.67, -121.66),
 (36.56, -121.92),
 (36.48, -121.73),
 (36.51, -121.44),
 (36.68, -121.8),
 (36.6, -121.89),
 (36.62, -121.92),
 (36.59, -121.95),
 (45.99, -123.92),
 (36.43, -121.33),
 (37.68, -122.4),
 (37.58, -122.37),
 (37.71, -122.46),
 (37.46, -122.43),
 (37.32, -122.27),
 (37.38, -122.12),
 (37.45, -122.18),
 (37.46, -122.2),
 (37.38, -122.24),
 (37.6, -122.39),
 (37.54, -122.52),
 (37.53, -122.51),
 (37.39, -122.08),
 (37.61, -122.49),
 (37.49, -122.23),
 (37.63, -122.41),
 (37.5, -122.26),
 (37.65, -122.41),
 (37.37, -122.04),
 (37.78, -122.42),
 (37.44, -122.16),
 (37.54, -122.31),
 (37.56, -122.27),
 (37.77, -122.24),
 (38.17, -122.26),
 (37.91, -121.6),
 (37.85, -122.03),
 (38.58, -122.45),
 (38, -121.81),
 (38.05, -122.16),
 (38.58, -122.58),
 (37.98, -122.03),
 (38.05, -122.22),
 (37.92, -122.3),
 (38.25, -122.04),
 (37.55, -121.99),
 (37.67, -122.08),
 (37.69, -122.09),
 (38.02, -122.29),
 (37.68, -121.77),
 (38.01, -122.13),
 (37.83, -122.13),
 (38.3, -122.29),
 (38, -121.71),
 (37.88, -122.18),
 (38, -122.3),
 (38.02, -121.89),
 (37.66, -121.87),
 (38.16, -121.69),
 (38.03, -122.27),
 (37.72, -122.16),
 (37.68, -122.12),
 (37.78, -121.98),
 (38.24, -122.04),
 (38.1, -122.26),
 (37.91, -122.06),
 (38.4, -122.36),
 (37.8, -122.27),
 (37.87, -122.27),
 (37.94, -122.35),
 (37.98, -122.3),
 (37.97, -122.53),
 (37.95, -122.56),
 (37.87, -122.46),
 (38.33, -123.05),
 (37.93, -122.53),
 (38.34, -122.7),
 (38.33, -122.71),
 (37.93, -122.54),
 (37.91, -122.55),
 (38.11, -122.57),
 (38.3, -122.67),
 (38.23, -122.64),
 (37.97, -122.56),
 (37.86, -122.49),
 (37.9, -122.65),
 (38.01, -122.65),
 (36.98, -121.9),
 (36.89, -121.64),
 (37.09, -122.09),
 (37.13, -122.12),
 (37.29, -121.95),
 (36.98, -121.95),
 (37.32, -122.03),
 (37.01, -121.56),
 (36.85, -121.4),
 (37.23, -121.97),
 (38.67, -121.13),
 (37.43, -121.91),
 (37.13, -121.65),
 (36.85, -121.54),
 (37.08, -121.61),
 (37.35, -121.96),
 (36.97, -122.03),
 (37.05, -122.01),
 (37.26, -122.02),
 (36.99, -121.96),
 (36.91, -121.75),
 (37.96, -121.29),
 (37.96, -121.23),
 (38.17, -121.28),
 (37.98, -120.64),
 (38.16, -121.15),
 (38.13, -121.27),
 (38.3, -120.71),
 (38.14, -120.46),
 (38.2, -120.68),
 (37.35, -120.61),
 (37.74, -121.43),
 (37.59, -120.96),
 (37.53, -120.8),
 (37.8, -121),
 (37.26, -121),
 (37.41, -120.85),
 (37.6, -120.87),
 (37.56, -120.92),
 (37.82, -121.28),
 (37.8, -121.21),
 (37.48, -119.97),
 (37.3, -120.48),
 (37.64, -121),
 (37.31, -121.02),
 (37.47, -121.13),
 (37.74, -121.12),
 (37.74, -120.94),
 (37.49, -120.85),
 (37.39, -120.61),
 (38.44, -122.71),
 (38.53, -123.09),
 (39.03, -122.67),
 (45.21, -123.89),
 (39.45, -123.81),
 (38.71, -122.9),
 (38.36, -122.52),
 (38.77, -123.53),
 (38.5, -123),
 (38.61, -122.87),
 (38.98, -122.84),
 (38.91, -122.61),
 (39.09, -122.8),
 (38.47, -123.01),
 (38.41, -122.95),
 (38.81, -122.56),
 (39.27, -123.2),
 (38.4, -122.82),
 (38.29, -122.46),
 (39.15, -123.21),
 (39.16, -122.91),
 (39.41, -123.36),
 (40.8, -124.16),
 (40.95, -124.1),
 (40.87, -124.08),
 (48.85, -122.59),
 (40.6, -124.16),
 (40.5, -124.11),
 (40.02, -123.94),
 (38.58, -121.53),
 (38.62, -121.33),
 (38.71, -121.28),
 (38.55, -121.74),
 (38.69, -120.81),
 (38.41, -121.37),
 (38.71, -121.46),
 (38.69, -122.02),
 (38.68, -121.18),
 (39.02, -120.82),
 (38.25, -121.3),
 (38.85, -120.86),
 (38.3, -121.24),
 (38.35, -120.93),
 (38.82, -121.19),
 (38.58, -121.49),
 (38.75, -121.29),
 (38.68, -121.23),
 (38.85, -121.17),
 (38.83, -121.01),
 (38.73, -120.8),
 (38.59, -121.3),
 (38.69, -121.45),
 (38.79, -121.24),
 (38.67, -120.93),
 (38.5, -121.19),
 (38.39, -120.8),
 (38.36, -121.99),
 (38.68, -121.77),
 (38.74, -120.67),
 (46.88, -117.36),
 (39, -121.02),
 (38.76, -120.59),
 (39.33, -120.18),
 (38.76, -121.16),
 (38.67, -121.05),
 (38.6, -121.38),
 (38.5, -121.41),
 (39.65, -121.4),
 (39.41, -121.71),
 (39.73, -121.84),
 (39.88, -121.67),
 (39.22, -121.06),
 (39.2, -121.19),
 (39.36, -121.69),
 (36.97, -121.98),
 (39.81, -121.58),
 (39.26, -121.02),
 (39.1, -121.55),
 (39.51, -121.56),
 (39.76, -121.62),
 (39.23, -121.14),
 (39.21, -121.3),
 (39.16, -121.75),
 (39.52, -122.19),
 (39.14, -121.62),
 (40.59, -122.39),
 (40.88, -121.66),
 (40.68, -122.36),
 (41.21, -122.27),
 (38.26, -120.42),
 (41.26, -122.14),
 (41.31, -122.31),
 (40.56, -122.24),
 (40.49, -121.89),
 (41.42, -122.39),
 (41.73, -122.64),
 (39.81, -120.47),
 (40.42, -120.65),
 (41.96, -121.48),
 (39.23, -120.08),
 (39.07, -120.13),
 (39.24, -120.02),
 (39.17, -120.14),
 (39.24, -120.05),
 (38.93, -119.98)]

In [4]:
from pyzipcode import ZipCodeDatabase
zcdb = ZipCodeDatabase()
#Example zipcode 91776
zips = [z.zip for z in zcdb.get_zipcodes_around_radius('91776', 5)]

#zip to lat long with pyzipcode
zipcode = zcdb[zips[0]]
print(zipcode.latitude)
print(zipcode.longitude)

#Geopy reverse did not work? Use citipy instead
#lat long to city with citipy
city = citipy.nearest_city(zipcode.latitude,zipcode.longitude)
city.city_name

34.0245
-118.1561

'east los angeles'

In [5]:
cities_nearby = []
for i in zips:
    zipcode = zcdb[i]
    city = citipy.nearest_city(zipcode.latitude,zipcode.longitude)
    if city.city_name not in cities_nearby:
        cities_nearby.append(city.city_name)
    else:
        pass
cities_nearby

['east los angeles',
 'commerce',
 'whittier',
 'montebello',
 'pico rivera',
 'altadena',
 'arcadia',
 'temple city',
 'sierra madre',
 'south pasadena',
 'pasadena',
 'san marino',
 'el monte',
 'south el monte',
 'monterey park',
 'rosemead',
 'san gabriel',
 'alhambra']

In [22]:
#Geopy distances
from geopy import Nominatim
from geopy import distance
d = distance.distance
g = Nominatim(user_agent="my_application")

for city in cities_nearby:
    zipcode1 = zcdb['91776']
    city1 = (zipcode1.latitude, zipcode1.longitude)
    city2 = (combined_data[combined_data["City" == city].Latitude,], combined_data[combined_data["City" == city].Longitude,])
    
    print(distance.distance(city1, city2).miles)

KeyError: False

In [ ]:
#find nearest 5 cities, chart housing sales, housing prices for the past years using zillow housing pricesfor the past years and compare